.page, .header, .footer {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 11px;
    /*page-break-inside: avoid;*/
}
.stamp_sign {
    min-height: 100px;
}
/*.page {
    height: auto;
    position: relative;
}*/
/*.page .body {
    page-break-before: always;
}*/
/*.footer {
    position: relative;
    bottom: 0;
}*/
/*.page {
    display: table;
}
.page .row {
    display: table-row;
}
.page .row div {
    display: table-cell;
}
.header {
    display: table-footer-group;
}
.footer {
    display: table-footer-group;
}
*/